# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

monstersofjungle.de/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/node_modules/.bin/esbuild
/node_modules/.bin/rollup
/node_modules/.bin/tsc
/node_modules/.bin/tsserver
/node_modules/.bin/vite
/node_modules/.vite/deps/_metadata.json
/node_modules/.vite/deps/package.json
/node_modules/esbuild/bin/esbuild
/node_modules/esbuild/lib/main.d.ts
/node_modules/esbuild/lib/main.js
/node_modules/esbuild/node_modules/@esbuild/darwin-arm64/bin/esbuild
/node_modules/esbuild/node_modules/@esbuild/darwin-arm64/package.json
/node_modules/esbuild/node_modules/@esbuild/darwin-arm64/README.md
/node_modules/esbuild/install.js
/node_modules/esbuild/LICENSE.md
/node_modules/esbuild/package.json
/node_modules/esbuild/README.md
/node_modules/fdir/LICENSE
/node_modules/fdir/package.json
/node_modules/fdir/README.md
/node_modules/picomatch/lib/constants.js
/node_modules/picomatch/lib/parse.js
/node_modules/picomatch/lib/picomatch.js
/node_modules/picomatch/lib/scan.js
/node_modules/picomatch/lib/utils.js
/node_modules/picomatch/index.js
/node_modules/picomatch/LICENSE
/node_modules/picomatch/package.json
/node_modules/picomatch/posix.js
/node_modules/picomatch/README.md
/node_modules/postcss/lib/at-rule.d.ts
/node_modules/postcss/lib/at-rule.js
/node_modules/postcss/lib/comment.d.ts
/node_modules/postcss/lib/comment.js
/node_modules/postcss/lib/container.d.ts
/node_modules/postcss/lib/container.js
/node_modules/postcss/lib/css-syntax-error.d.ts
/node_modules/postcss/lib/css-syntax-error.js
/node_modules/postcss/lib/declaration.d.ts
/node_modules/postcss/lib/declaration.js
/node_modules/postcss/lib/document.d.ts
/node_modules/postcss/lib/document.js
/node_modules/postcss/lib/fromJSON.d.ts
/node_modules/postcss/lib/fromJSON.js
/node_modules/postcss/lib/input.d.ts
/node_modules/postcss/lib/input.js
/node_modules/postcss/lib/lazy-result.d.ts
/node_modules/postcss/lib/lazy-result.js
/node_modules/postcss/lib/list.d.ts
/node_modules/postcss/lib/list.js
/node_modules/postcss/lib/map-generator.js
/node_modules/postcss/lib/no-work-result.d.ts
/node_modules/postcss/lib/no-work-result.js
/node_modules/postcss/lib/node.d.ts
/node_modules/postcss/lib/node.js
/node_modules/postcss/lib/parse.d.ts
/node_modules/postcss/lib/parse.js
/node_modules/postcss/lib/parser.js
/node_modules/postcss/lib/postcss.d.mts
/node_modules/postcss/lib/postcss.d.ts
/node_modules/postcss/lib/postcss.js
/node_modules/postcss/lib/postcss.mjs
/node_modules/postcss/lib/previous-map.d.ts
/node_modules/postcss/lib/previous-map.js
/node_modules/postcss/lib/processor.d.ts
/node_modules/postcss/lib/processor.js
/node_modules/postcss/lib/result.d.ts
/node_modules/postcss/lib/result.js
/node_modules/postcss/lib/root.d.ts
/node_modules/postcss/lib/root.js
/node_modules/postcss/lib/rule.d.ts
/node_modules/postcss/lib/rule.js
/node_modules/postcss/lib/stringifier.d.ts
/node_modules/postcss/lib/stringifier.js
/node_modules/postcss/lib/stringify.d.ts
/node_modules/postcss/lib/stringify.js
/node_modules/postcss/lib/symbols.js
/node_modules/postcss/lib/terminal-highlight.js
/node_modules/postcss/lib/tokenize.js
/node_modules/postcss/lib/warn-once.js
/node_modules/postcss/lib/warning.d.ts
/node_modules/postcss/lib/warning.js
/node_modules/postcss/node_modules/.bin/nanoid
/node_modules/postcss/node_modules/nanoid/async/index.browser.cjs
/node_modules/postcss/node_modules/nanoid/async/index.browser.js
/node_modules/postcss/node_modules/nanoid/async/index.cjs
/node_modules/postcss/node_modules/nanoid/async/index.d.ts
/node_modules/postcss/node_modules/nanoid/async/index.js
/node_modules/postcss/node_modules/nanoid/async/index.native.js
/node_modules/postcss/node_modules/nanoid/async/package.json
/node_modules/postcss/node_modules/nanoid/bin/nanoid.cjs
/node_modules/postcss/node_modules/nanoid/non-secure/index.cjs
/node_modules/postcss/node_modules/nanoid/non-secure/index.d.ts
/node_modules/postcss/node_modules/nanoid/non-secure/index.js
/node_modules/postcss/node_modules/nanoid/non-secure/package.json
/node_modules/postcss/node_modules/nanoid/url-alphabet/index.cjs
/node_modules/postcss/node_modules/nanoid/url-alphabet/index.js
/node_modules/postcss/node_modules/nanoid/url-alphabet/package.json
/node_modules/postcss/node_modules/nanoid/index.browser.cjs
/node_modules/postcss/node_modules/nanoid/index.browser.js
/node_modules/postcss/node_modules/nanoid/index.cjs
/node_modules/postcss/node_modules/nanoid/index.d.cts
/node_modules/postcss/node_modules/nanoid/index.d.ts
/node_modules/postcss/node_modules/nanoid/index.js
/node_modules/postcss/node_modules/nanoid/LICENSE
/node_modules/postcss/node_modules/nanoid/nanoid.js
/node_modules/postcss/node_modules/nanoid/package.json
/node_modules/postcss/node_modules/nanoid/README.md
/node_modules/postcss/node_modules/picocolors/LICENSE
/node_modules/postcss/node_modules/picocolors/package.json
/node_modules/postcss/node_modules/picocolors/picocolors.browser.js
/node_modules/postcss/node_modules/picocolors/picocolors.d.ts
/node_modules/postcss/node_modules/picocolors/picocolors.js
/node_modules/postcss/node_modules/picocolors/README.md
/node_modules/postcss/node_modules/picocolors/types.d.ts
/node_modules/postcss/node_modules/source-map-js/lib/array-set.js
/node_modules/postcss/node_modules/source-map-js/lib/base64.js
/node_modules/postcss/node_modules/source-map-js/lib/base64-vlq.js
/node_modules/postcss/node_modules/source-map-js/lib/binary-search.js
/node_modules/postcss/node_modules/source-map-js/lib/mapping-list.js
/node_modules/postcss/node_modules/source-map-js/lib/quick-sort.js
/node_modules/postcss/node_modules/source-map-js/lib/source-map-consumer.d.ts
/node_modules/postcss/node_modules/source-map-js/lib/source-map-consumer.js
/node_modules/postcss/node_modules/source-map-js/lib/source-map-generator.d.ts
/node_modules/postcss/node_modules/source-map-js/lib/source-map-generator.js
/node_modules/postcss/node_modules/source-map-js/lib/source-node.d.ts
/node_modules/postcss/node_modules/source-map-js/lib/source-node.js
/node_modules/postcss/node_modules/source-map-js/lib/util.js
/node_modules/postcss/node_modules/source-map-js/LICENSE
/node_modules/postcss/node_modules/source-map-js/package.json
/node_modules/postcss/node_modules/source-map-js/README.md
/node_modules/postcss/node_modules/source-map-js/source-map.d.ts
/node_modules/postcss/node_modules/source-map-js/source-map.js
/node_modules/postcss/LICENSE
/node_modules/postcss/package.json
/node_modules/postcss/README.md
/node_modules/rollup/node_modules/@rollup/rollup-darwin-arm64/package.json
/node_modules/rollup/node_modules/@rollup/rollup-darwin-arm64/README.md
/node_modules/rollup/node_modules/@rollup/rollup-darwin-arm64/rollup.darwin-arm64.node
/node_modules/rollup/node_modules/@types/estree/flow.d.ts
/node_modules/rollup/node_modules/@types/estree/index.d.ts
/node_modules/rollup/node_modules/@types/estree/LICENSE
/node_modules/rollup/node_modules/@types/estree/package.json
/node_modules/rollup/node_modules/@types/estree/README.md
/node_modules/rollup/LICENSE.md
/node_modules/rollup/package.json
/node_modules/rollup/README.md
/node_modules/tinyglobby/LICENSE
/node_modules/tinyglobby/package.json
/node_modules/tinyglobby/README.md
/node_modules/typescript/bin/tsc
/node_modules/typescript/bin/tsserver
/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
/node_modules/typescript/lib/de/diagnosticMessages.generated.json
/node_modules/typescript/lib/es/diagnosticMessages.generated.json
/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
/node_modules/typescript/lib/it/diagnosticMessages.generated.json
/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
/node_modules/typescript/lib/_tsc.js
/node_modules/typescript/lib/_tsserver.js
/node_modules/typescript/lib/_typingsInstaller.js
/node_modules/typescript/lib/lib.d.ts
/node_modules/typescript/lib/lib.decorators.d.ts
/node_modules/typescript/lib/lib.decorators.legacy.d.ts
/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
/node_modules/typescript/lib/lib.dom.d.ts
/node_modules/typescript/lib/lib.dom.iterable.d.ts
/node_modules/typescript/lib/lib.es5.d.ts
/node_modules/typescript/lib/lib.es6.d.ts
/node_modules/typescript/lib/lib.es2015.collection.d.ts
/node_modules/typescript/lib/lib.es2015.core.d.ts
/node_modules/typescript/lib/lib.es2015.d.ts
/node_modules/typescript/lib/lib.es2015.generator.d.ts
/node_modules/typescript/lib/lib.es2015.iterable.d.ts
/node_modules/typescript/lib/lib.es2015.promise.d.ts
/node_modules/typescript/lib/lib.es2015.proxy.d.ts
/node_modules/typescript/lib/lib.es2015.reflect.d.ts
/node_modules/typescript/lib/lib.es2015.symbol.d.ts
/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
/node_modules/typescript/lib/lib.es2016.array.include.d.ts
/node_modules/typescript/lib/lib.es2016.d.ts
/node_modules/typescript/lib/lib.es2016.full.d.ts
/node_modules/typescript/lib/lib.es2016.intl.d.ts
/node_modules/typescript/lib/lib.es2017.arraybuffer.d.ts
/node_modules/typescript/lib/lib.es2017.d.ts
/node_modules/typescript/lib/lib.es2017.date.d.ts
/node_modules/typescript/lib/lib.es2017.full.d.ts
/node_modules/typescript/lib/lib.es2017.intl.d.ts
/node_modules/typescript/lib/lib.es2017.object.d.ts
/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2017.string.d.ts
/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
/node_modules/typescript/lib/lib.es2018.d.ts
/node_modules/typescript/lib/lib.es2018.full.d.ts
/node_modules/typescript/lib/lib.es2018.intl.d.ts
/node_modules/typescript/lib/lib.es2018.promise.d.ts
/node_modules/typescript/lib/lib.es2018.regexp.d.ts
/node_modules/typescript/lib/lib.es2019.array.d.ts
/node_modules/typescript/lib/lib.es2019.d.ts
/node_modules/typescript/lib/lib.es2019.full.d.ts
/node_modules/typescript/lib/lib.es2019.intl.d.ts
/node_modules/typescript/lib/lib.es2019.object.d.ts
/node_modules/typescript/lib/lib.es2019.string.d.ts
/node_modules/typescript/lib/lib.es2019.symbol.d.ts
/node_modules/typescript/lib/lib.es2020.bigint.d.ts
/node_modules/typescript/lib/lib.es2020.d.ts
/node_modules/typescript/lib/lib.es2020.date.d.ts
/node_modules/typescript/lib/lib.es2020.full.d.ts
/node_modules/typescript/lib/lib.es2020.intl.d.ts
/node_modules/typescript/lib/lib.es2020.number.d.ts
/node_modules/typescript/lib/lib.es2020.promise.d.ts
/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2020.string.d.ts
/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
/node_modules/typescript/lib/lib.es2021.d.ts
/node_modules/typescript/lib/lib.es2021.full.d.ts
/node_modules/typescript/lib/lib.es2021.intl.d.ts
/node_modules/typescript/lib/lib.es2021.promise.d.ts
/node_modules/typescript/lib/lib.es2021.string.d.ts
/node_modules/typescript/lib/lib.es2021.weakref.d.ts
/node_modules/typescript/lib/lib.es2022.array.d.ts
/node_modules/typescript/lib/lib.es2022.d.ts
/node_modules/typescript/lib/lib.es2022.error.d.ts
/node_modules/typescript/lib/lib.es2022.full.d.ts
/node_modules/typescript/lib/lib.es2022.intl.d.ts
/node_modules/typescript/lib/lib.es2022.object.d.ts
/node_modules/typescript/lib/lib.es2022.regexp.d.ts
/node_modules/typescript/lib/lib.es2022.string.d.ts
/node_modules/typescript/lib/lib.es2023.array.d.ts
/node_modules/typescript/lib/lib.es2023.collection.d.ts
/node_modules/typescript/lib/lib.es2023.d.ts
/node_modules/typescript/lib/lib.es2023.full.d.ts
/node_modules/typescript/lib/lib.es2023.intl.d.ts
/node_modules/typescript/lib/lib.es2024.arraybuffer.d.ts
/node_modules/typescript/lib/lib.es2024.collection.d.ts
/node_modules/typescript/lib/lib.es2024.d.ts
/node_modules/typescript/lib/lib.es2024.full.d.ts
/node_modules/typescript/lib/lib.es2024.object.d.ts
/node_modules/typescript/lib/lib.es2024.promise.d.ts
/node_modules/typescript/lib/lib.es2024.regexp.d.ts
/node_modules/typescript/lib/lib.es2024.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2024.string.d.ts
/node_modules/typescript/lib/lib.esnext.array.d.ts
/node_modules/typescript/lib/lib.esnext.collection.d.ts
/node_modules/typescript/lib/lib.esnext.d.ts
/node_modules/typescript/lib/lib.esnext.decorators.d.ts
/node_modules/typescript/lib/lib.esnext.disposable.d.ts
/node_modules/typescript/lib/lib.esnext.error.d.ts
/node_modules/typescript/lib/lib.esnext.float16.d.ts
/node_modules/typescript/lib/lib.esnext.full.d.ts
/node_modules/typescript/lib/lib.esnext.intl.d.ts
/node_modules/typescript/lib/lib.esnext.iterator.d.ts
/node_modules/typescript/lib/lib.esnext.promise.d.ts
/node_modules/typescript/lib/lib.esnext.sharedmemory.d.ts
/node_modules/typescript/lib/lib.scripthost.d.ts
/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
/node_modules/typescript/lib/lib.webworker.d.ts
/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
/node_modules/typescript/lib/lib.webworker.iterable.d.ts
/node_modules/typescript/lib/tsc.js
/node_modules/typescript/lib/tsserver.js
/node_modules/typescript/lib/tsserverlibrary.d.ts
/node_modules/typescript/lib/tsserverlibrary.js
/node_modules/typescript/lib/typescript.d.ts
/node_modules/typescript/lib/typescript.js
/node_modules/typescript/lib/typesMap.json
/node_modules/typescript/lib/typingsInstaller.js
/node_modules/typescript/lib/watchGuard.js
/node_modules/typescript/LICENSE.txt
/node_modules/typescript/package.json
/node_modules/typescript/README.md
/node_modules/typescript/SECURITY.md
/node_modules/typescript/ThirdPartyNoticeText.txt
/node_modules/vite/bin/openChrome.js
/node_modules/vite/bin/vite.js
/node_modules/vite/misc/false.js
/node_modules/vite/misc/true.js
/node_modules/vite/types/internal/cssPreprocessorOptions.d.ts
/node_modules/vite/types/internal/lightningcssOptions.d.ts
/node_modules/vite/types/internal/terserOptions.d.ts
/node_modules/vite/types/customEvent.d.ts
/node_modules/vite/types/hmrPayload.d.ts
/node_modules/vite/types/hot.d.ts
/node_modules/vite/types/import-meta.d.ts
/node_modules/vite/types/importGlob.d.ts
/node_modules/vite/types/importMeta.d.ts
/node_modules/vite/types/metadata.d.ts
/node_modules/vite/types/package.json
/node_modules/vite/client.d.ts
/node_modules/vite/LICENSE.md
/node_modules/vite/package.json
/node_modules/vite/README.md
/node_modules/.package-lock.json
