<div>
    <img
            class="background"
            src="/footer-tile-1.jpg"
            alt="Monsters of Jungle - Footer Tile 1 - Rave Party Audience"
    />
    <a
            href="https://shop.spreadshirt.de/monstersofjungle/"
            target="new"
            rel="noreferrer nofollow"
    >
        <img
                src="/moj-merch-tile.png"
                alt="Spread Shirt Merch Link"
        />
    </a>
    <img
            class="background"
            src="/footer-tile-2.jpg"
            alt="Monsters of Jungle - Footer Tile 2 - Rave Party Audience"
    />
</div>
<a href="./" class="btn-back">
    <img src="/drbass.png" alt="monstahz branding - dr. bass"/>
    Back
</a>
<div class="meta">
    Last Generated: 25.02.2026 <a href="./impressum.html">Impressum</a>
</div>
