<img
        class="background"
        src="/images/header-tile-1.png"
        alt="Monster of Jungle - Header Tile 1 - Rave Party Audience"
/>
<img
        class="background"
        src="/images/header-tile-2.png"
        alt="Monster of Jungle - Header Tile 2 - Rave Party Audience"
/>
<img
        class="background"
        src="/images/header-tile-3.png"
        alt="Monster of Jungle - Header Tile 3 - Rave Party Audience"
/>
<div class="branding">
    <img
            src="/images/header-monstahz.png"
            alt="monstahz branding"
            id="header-branding"
    />
</div>
