main {
    flex-direction: column;
}

.artist-header-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    width: 100%;
}

.artist-header-images img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex: none;
}

#mix-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

    li {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1rem;
        padding: 0;
        margin: 0;
        font-size: var(--text-lg);

        a, a:visited {
            width: 100%;
        }
    }
}

#attachments {
    font-family: var(--font-display), serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: var(--text-2xl);
    margin: 0 auto;
    padding: 2.3rem 0;
}