<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ artistNameLabel }}</title>
  <link rel="stylesheet" href="/src/styles/style.css"/>
  <link rel="stylesheet" href="/src/styles/artist-details.css"/>
</head>
<body>
<header>
  <div id="artist-key">
    {{ artistNameLabel }}
  </div>
</header>
<main>
  {% if mixLinks and mixLinks.length %}
    <ul id="mix-links">
      {% for mix in mixLinks %}
        <li><a href="{{ mix.link }}">{{ mix.label }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if attachment %}
    <div id="attachments">{{ attachment }}</div>
  {% endif %}
</main>
<footer></footer>
</body>
</html>