<img
        class="background"
        src="/src/assets/images/footer-tile-1.jpg"
        alt="Monsters of Jungle - Footer Tile 1 - Rave Party Audience"
/>
<a
        href="https://shop.spreadshirt.de/monstersofjungle/"
        target="new"
        rel="noreferrer nofollow"
        class="merch-link"
>
    <img
            src="/src/assets/images/moj-merch-tile.png"
            alt="Spread Shirt Merch Link"
    />
</a>
<img
        class="background"
        src="/src/assets/images/footer-tile-2.jpg"
        alt="Monsters of Jungle - Footer Tile 2 - Rave Party Audience"
/>
<div class="footer-meta">
    <span>Last Generated: {{buildDate}}</span>
    <a href="{{base}}">
        <img src="/drbass.png" alt="monstahz branding - dr. bass"/>
        Back
    </a>
    <span>
        <a href="{{base}}impressum.html">Impressum</a>
    </span>
</div>
