<!doctype html>
<html lang="de">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/src/styles/style.css"/>
  <link rel="stylesheet" href="/src/styles/artist.css"/>
  <script src="/src/scripts/common.ts" type="module"></script>
</head>
<body class="h-card">
<header>
  <h1 class="p-name">{{artistName}}</h1>
  <a class="u-url" href="{{base}}artist/{{slug}}" hidden></a>
  {{#headerImages}}<div class="artist-header-images">{{> artist-header-image}}</div>{{/headerImages}}
</header>
<main>
  {{#mixLinks}}<h2>Mixes</h2><ul id="mix-links">{{> mix-link}}</ul>{{/mixLinks}}
  {{#attachment}}<p id="attachments">{{attachment}}</p>{{/attachment}}
</main>
<footer></footer>
</body>
</html>